layout {
	pane size=1 borderless=true {
		plugin location="zellij:compact-bar"
	}
	pane split_direction="vertical" {
		pane split_direction="horizontal" stacked=true {
			pane command="gitui" {
				start_suspended true
			}
			pane
		}
		pane edit=""
	}
	floating_panes {
		pane command="jekyll" {
			args "serve" "--livereload"
		}
	}
}
