<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
{% include variables.liquid %}
  <title> {% if identity.my_name %} {{ identity.my_name }} | {% endif %} CV</title>
  <link rel="icon" type="image/jpg" href="/assets/favicon.jpg">

  <link href="/assets/{{ site.style }}-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="/assets/{{ site.style }}-print.css" type="text/css" rel="stylesheet" media="print">

  <link href="/assets/fontawesome-free-6.4.0-web/css/fontawesome.min.css" type="text/css" rel="stylesheet">
  <link href="/assets/fontawesome-free-6.4.0-web/css/brands.min.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div id="main">
    <div id="content">
    {{ content }}
    </div>
  </div>
</body>
</html>
